#welcomeContainer{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 300px;
    height: 300px;
    border: 2px solid rgb(255, 80, 118);
    margin: auto;
    border-radius: 25px;
    padding: 20px;
    margin-top: 100px;
    text-align: center;
}
#welcome{
    margin: auto;
    margin-bottom: 5px;
}
#diffLevel{
    margin-top: 5px;
}
#diffContainer{
    display: flex;
    margin: auto;
    margin-top: 5px;
}
.diff{
    border: 2px solid rgb(255, 80, 118);
    position: relative;
    width: 70px;
    height: 70px;
    margin: 5px;
    margin-top: 0px;
    font-size: large;
    background-color: rgb(248, 230, 234);

}
.diff:hover{
    box-shadow: 1px 1px rgb(233, 136, 157);
    background-color: rgb(255, 209, 219);
}
.diff:active{
    background-color: rgb(247, 177, 192);
    box-shadow: none;
}